body {
  background: #333;
  font-family: Courier New, Courier, monospace;
  color: #ddd;
  padding: 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  margin: 0;
}

*:focus {
  outline: none;
}

#content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}

em {
  font-style: normal;
  color: #0f8;
}

img {
  max-width: 100vh;
  max-height: 75vh;
}

ol {
  margin-left: 50px;
}

.highlight {
  border: 2px solid #0f8;
}
.highlight-pink {
  border: 2px solid #f2d;
}

.disclaimer {
  font-size: 2em;
  border: 4px solid currentColor;
  padding: 10px;
  margin: auto;
  animation: 5s flicker linear forwards;
}
@keyframes flicker {
  0%, 10%, 18%, 40%, 90%, 100% {
    opacity: .99;
    text-shadow: 2px 2px 5px #0f8, -2px -2px 5px #0f8;
    box-shadow: 2px 2px 5px #0f8, -2px -2px 5px #0f8,
                inset 2px 2px 5px #0f8, inset -2px -2px 5px #0f8; 
  }
  3%, 17%, 35%, 87%, 99% {
    opacity: 0.4;
    text-shadow: none;
    box-shadow: none;
  }
}

.directory {
  position: relative;
  width: fit-content;
  height: fit-content;
}
.directory.highlighted::before {
  content: 'working area';
  color: #333;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 136, .2);
  z-index: 1;
  border: 4px solid #0f8;
}

.repo {
  opacity: 0;
  background-image: url('images/git-folder.png'); 
  background-repeat: no-repeat;
  position: absolute;
  left: 20px;
  top: 100px;
  width: 188px;
  height: 197px;
}

.repo.highlighted::before {
  content: 'repository'; 
  color: #333;
  font-weight: bold;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 34, 221, .2);
  border: 4px solid #f2d;
  z-index: 1;
}


.terminal {
  font-family: 'Monaco';
}
.response {
  font-family: 'Monaco';
  font-size: .66em;
}

.terminal .untracked-files {
  color: #f2d;
}
.tracked-files {
  color: #0f8;
}

.prompt {
  position: relative;
  margin-left: 1em;
}
.prompt::before {
  color: #0f8;
  content: '>';
  position: relative;
  left: -1em;
}

.label {
  font-family: 'arial black';
}

.under-construction img:nth-child(even) {
  width: 60%;
}
.under-construction img:nth-child(3n + 1) {
  width: 30%;
}


.hashes {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow-y: hidden;
}

.hashes .terminal {
  flex: 1 1 auto;
  overflow-y: auto;
}

.images {
  position: relative;
  flex: 0 0 auto;
}
.images img:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}
.disappear {
  animation: 1s disappear forwards;
}
@keyframes disappear {
  from {
    height: 100%;
    width: 100%;
  }
  to {
    height: 25%;
    width: 25%;
  }
}

.hiding {
  opacity: 0;
}
.fade-in {
  animation: 1s fade-in linear forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-out {
  animation: 1s fade-out linear forwards;
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}

.show-button {
  background-color: transparent;
  border: none;
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 2em;
  cursor: pointer;
  color: transparent;
}
.show-button:hover {
  color: #0f8;
}

.spin-in {
  width: 0;
  height: 0;
  animation: 3s spin linear forwards;
}

@keyframes spin {
  10% {
    transform: rotate(1turn);
  }
  20% {
    transform: rotate(2turn);
  }
  30% {
    transform: rotate(3turn);
  }
  40% {
    transform: rotate(4turn);
  }
  50% {
    transform: rotate(5turn);
  }
  60% {
    transform: rotate(6turn);
  }
  70% {
    transform: rotate(7turn);
  }
  80% {
    transform: rotate(8turn);
  }
  90% {
    transform: rotate(9turn);
  }
  to {
    transform: rotate(10turn);
    width: 100%;
    height: auto;
  }
}

.slide-up-ready {
  margin-top: 100vh;
}
.slide-up-animation {
  animation: 1s slide-up ease-out forwards;
}
@keyframes slide-up {
  to {
    margin-top: 0;
  }
}

.slide-down {
  animation: 1s slide-down ease-out forwards;
}
@keyframes slide-down {
  from {
    margin-top: -100vh;
  }
  to {
    margin-top: 10px;
  }
}

.bounce-in {
  animation: 450ms bounce-in linear forwards;
}
@keyframes bounce-in{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}