body {
  background: #333;
  font-family: Courier New, Courier, monospace;
  color: #ddd;
  padding: 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  margin: 0;
}

*:focus {
  outline: none;
}

#content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}

em {
  font-style: normal;
  color: #0f8;
}

img {
  max-width: 100vh;
  max-height: 75vh;
}

ol {
  margin-left: 50px;
}

.highlight:hover {
  border: 2px solid #0f8;
}
.highlight-pink:hover {
  border: 2px solid #f2d;
}

.disclaimer {
  font-size: 2em;
  border: 4px solid currentColor;
  padding: 10px;
  margin: auto;
  animation: 5s flicker linear forwards;
}
@keyframes flicker {
  0%, 10%, 18%, 40%, 90%, 100% {
    opacity: .99;
    text-shadow: 2px 2px 5px #0f8, -2px -2px 5px #0f8;
    box-shadow: 2px 2px 5px #0f8, -2px -2px 5px #0f8,
                inset 2px 2px 5px #0f8, inset -2px -2px 5px #0f8; 
  }
  3%, 17%, 35%, 87%, 99% {
    opacity: 0.4;
    text-shadow: none;
    box-shadow: none;
  }
}

.directory {
  position: relative;
  width: fit-content;
  height: fit-content;
}
.directory.highlighted::before {
  content: 'working area';
  color: #333;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 136, .2);
  z-index: 1;
  border: 4px solid #0f8;
}

.repo {
  opacity: 0;
  background-image: url('images/git-folder.png'); 
  background-repeat: no-repeat;
  position: absolute;
  left: 20px;
  top: 100px;
  width: 188px;
  height: 197px;
}

.repo.highlighted::before {
  content: 'repository'; 
  color: #333;
  font-weight: bold;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 34, 221, .2);
  border: 4px solid #f2d;
  z-index: 1;
}


.terminal {
  font-family: 'Monaco';
}
.response {
  font-family: 'Monaco';
  font-size: .66em;
}

.terminal .untracked-files {
  color: #f2d;
}
.tracked-files {
  color: #0f8;
}

.prompt {
  position: relative;
  margin-left: 1em;
}
.prompt::before {
  color: #0f8;
  content: '>';
  position: relative;
  left: -1em;
}

.under-construction img:nth-child(even) {
  width: 60%;
}
.under-construction img:nth-child(3n + 1) {
  width: 30%;
}


.images {
  position: relative;
  flex: 0 0 auto;
}
.images img:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}
.disappear {
  animation: 1s disappear forwards;
}
@keyframes disappear {
  to {
    height: 0%;
    width: 0%;
  }
}

.hiding {
  opacity: 0;
}
.fade-in {
  animation: 1s fade-in linear forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-out {
  animation: 1s fade-out linear forwards;
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}

.show-button {
  background-color: transparent;
  border: none;
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 2em;
  cursor: pointer;
  color: transparent;
}
.show-button:hover {
  color: #0f8;
}

.spin-in {
  width: 0;
  height: 0;
  animation: 3s spin linear forwards;
  margin: auto;
}
.middle {
  margin: auto;
}

@keyframes spin {
  to {
    transform: rotate(10turn);
    width: 100%;
    height: auto;
  }
}

.slide-left-ready {
  margin-left: 100vw;
}
.slide-left {
  animation: 1s slide-left ease-out forwards;
}
@keyframes slide-left {
  from {
    margin-left: 450px;
  }
  to {
    margin-left: 10px;
  }
}

.bounce-in {
  animation: 450ms bounce-in linear forwards;
}
@keyframes bounce-in{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}

.disappeared {
  opacity: 0;
}

.columns {
  display: flex;
  justify-content: space-between;
}
.columns .overflow {
  width: 25%;
  overflow: hidden;
  position: fixed;
  right: 0;
}
.columns .overflow.large {
  width: 450px;
}

.radial-out {
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: auto;
}
.radiate {
  animation: 2s radiate linear forwards;
}
@keyframes radiate {
  50% {
    border-radius: 50%;
  }
  80% {
    width: 100%;
    height: 100%;
  }
  to {
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

.commit {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 10px #f2d;
  background-color: #0f8;
  position: relative;
  margin-right: 50px;
  transform: rotate(90deg);
  margin-top: 50px;
}

.commit.reverse-commit {
  border-color: #0f8;
  background-color: #f2d;
}

.commit.reverse-commit::before, .commit.reverse-commit::after {
  background-color: #0f8
}

.commit::before, .commit::after {
  content: '';
  display: block;
  width: 30px;
  height: 10px;
  position: absolute;
  background-color: #f2d;
  top: calc(50% - 5px);
}

.commit::before {
  left: -39px;
}
.commit::after {
  right: -39px;
}

.fast-forward {
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
  grid-gap: 0;
  width: 100%;
}

.ref {
  display: flex;
  align-items: flex-end;
}
.ref.left {
  justify-content: flex-end;
}
.ref.right {
  justify-content: flex-start;
}

#master {
  justify-content: flex-end;
  margin-right: 30px;
}
#feature {
  justify-content: flex-start;
  margin-left: 30px;
}

.head {
  border: 2px solid #0f8;
}

.merge {
  position: relative;
  width: 100%;
  height: 100vh;
}

.merge img {
  position: absolute;
  top: 50px;
  left: 30%;
}

.emoji {
  margin: auto;
  font-size: 3em;
   animation: 5s fade-in linear forwards; 
}

.fixed {
  position: fixed;
  top: 10px;
  right: 10px;
}
.thunder {
  animation: 1s flicker linear forwards;
}
